<!-- Item wrapper -->
<div class="vertical-navigation-item-wrapper">

  <div class="vertical-navigation-item">

    <!-- Icon -->
    <mat-icon
      *ngIf="item.matIcon"
      class="vertical-navigation-item-icon"
      [ngStyle]="{'color': item.iconColor}"
    >{{ item.matIcon }}</mat-icon>

    <!-- Title & Subtitle -->
    <div class="vertical-navigation-item-title-wrapper">
      <div class="vertical-navigation-item-title">
        {{ item.title }}
      </div>
      <ng-container *ngIf="item.subtitle">
        <div class="vertical-navigation-item-subtitle text-gray-500">
          {{item.subtitle}}
        </div>
      </ng-container>
    </div>

    <!-- Badge -->
    <div
      class="vertical-navigation-item-badge"
      *ngIf="item.badge"
    >
      <div
        class="vertical-navigation-item-badge-content"
        [ngClass]="item.badge.classes || ''">
        {{ item.badge.title }}
      </div>
    </div>

  </div>

</div>

<ng-container *ngFor="let item of item.children; trackBy: trackByFn">

  <!-- Skip the hidden items -->
  <ng-container *ngIf="!item.hidden">

    <!-- Basic -->
    <app-vertical-navigation-basic-item
      *ngIf="item.type === 'item'"
      [item]="item"
      [name]="name"
    ></app-vertical-navigation-basic-item>

    <!-- Collapsible -->
    <app-vertical-navigation-collapsible-item
      *ngIf="item.type === 'collapsible'"
      [item]="item"
      [name]="name"
      [autoCollapse]="autoCollapse"
    ></app-vertical-navigation-collapsible-item>

    <!-- Group -->
    <app-vertical-navigation-group-item
      *ngIf="item.type === 'group'"
      [item]="item"
      [name]="name"
    ></app-vertical-navigation-group-item>

  </ng-container>

</ng-container>

<!-- Divider -->
<app-vertical-navigation-separator *ngIf="item.separator"></app-vertical-navigation-separator>
