// .title {
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

// .entity-dialog .mat-dialog-container {
//   padding: 0 !important;
// }

// .dialog-content-wrapper {
//   max-height: 85vh;
//   // display: flex;
//   // flex-direction: column;
//   height: 100%;
// }

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
