// overriding styles for ngx-colors
.opened {
  .circle.button, .round-button, .circle.wrapper:not(.color) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hue-alpha .right {
    .hue {
      margin-bottom: 0 !important;
    }
  
    .alpha {
      display: none !important;
    }
  }
}

.ngx-colors-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2000;
  top: 0;
  left: 0;
}
