// overriding styles for ngx-colors
.opened {
  @apply dark:bg-slate-800 #{'!important'};

  .circle.button, .round-button, .circle.wrapper:not(.color) {
    display: flex;
    align-items: center;
    justify-content: center;

    .add {
      @apply dark:text-gray-300 #{'!important'};

      svg {
        @apply fill-current;
      }
    }
  }

  .circle.wrapper.color {
    @apply bg-clip-content;
  }

  .hue-alpha .right {
    .hue {
      margin-bottom: 0 !important;
    }
  
    .alpha {
      display: none !important;
    }
  }
}

.ngx-colors-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2000;
  top: 0;
  left: 0;
}
