<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <div class="text-white flex gap-2 w-full items-center px-2">
      <button mat-icon-button (click)="layoutService.toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>

      <ng-content select="[prefix]"></ng-content>
      
      <div class="flex-1 truncate">
        <ng-content select="[content]"></ng-content>
        {{ title }}
      </div>

      <div class="flex items-center gap-2">
        <ng-content select="[buttons]"></ng-content>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
