<app-page-container>
  <article class="max-w-full prose dark:prose-dark lg:prose-xl mb-6">
    <h2>Forms</h2>
    <p>This section contains example form fields that can be configured out the box. A custom wrapper and styling system on top of ngx-formly provides an easy to use set of helper functions that configure your forms through config alone.</p>
    <p>See an example below for a text field:</p>
    <pre>
      <code>{{ textInputCode }}</code>
    </pre>
    <h4>Example Form</h4>
  </article>
  <p class="mb-3">Available form styles:</p>
  <mat-button-toggle-group class="h-[42px] items-center mb-8" [(ngModel)]="formClass">
    <mat-button-toggle value="mat-default">Default</mat-button-toggle>
    <mat-button-toggle value="mat-dense">Dense</mat-button-toggle>
    <mat-button-toggle value="mat-inline">Inline</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="mb-4" [ngClass]="formClass">
    <form [formGroup]="form">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
    </form>
  </div>

  <p class="mb-3">Resulting form value (updates as you edit the form):</p>
  <app-json [json]="form.getRawValue()"></app-json>
</app-page-container>
