<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

  <mat-drawer-container class="flex-auto h-full dark:text-gray-100 dark:bg-slate-900">
    <!-- Drawer -->
    <mat-drawer
      class="w-full sm:w-80 absolute dark:text-gray-100 dark:bg-slate-800 dark:border-slate-600"
      [mode]="drawerMode"
      [opened]="layoutService.menuOpen$ | async">

      <button
        mat-icon-button
        class="sm:hidden absolute right-2 top-2 z-10"
        (click)="layoutService.closeMenu()">
        <mat-icon>close</mat-icon>
      </button>

      <!-- Menu sidebar -->
      <div *ngIf="menuTitle" class="mx-5 mt-10 mb-6 text-xl font-bold tracking-tighter">
        {{ menuTitle }}
      </div>

      <ng-content select="[sidebar]">
      </ng-content>

      <app-vertical-navigation
        *ngIf="navigationItems"
        [autoCollapse]="autoCollapseMenu"
        [navigation]="navigationItems"
        (itemClicked)="handleNav()"
      ></app-vertical-navigation>

      <div class="w-full absolute bottom-0">
        <ng-content select="[footer]">
        </ng-content>
      </div>
    </mat-drawer>

    <!-- Drawer content -->
    <mat-drawer-content class="flex flex-col overflow-hidden">

      <!-- Main -->
      <div class="h-full w-full">
        <ng-content select="[content]">
        </ng-content>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
