<app-page-container>
  <article class="max-w-full prose lg:prose-xl prose-a:text-sky-600">
    <h2>Angular Template Project</h2>
    <p>Welcome to the angular template project! This started as an idea to create a project designed to make building new apps in angular as easy as possible. It contains the various configuration, boilerplate and functionality that a large number of modern angular websites require to be built in a scalable way. The main plan is to be able to use this repo as a blueprint for future projects, cutting down on the time required to get new Front-End projects off the ground.</p>
    
    <h3>Dependencies</h3>
    <p>A number of open-source libraries are utilised in this app, you can find more on them below:</p>
    <ul>
      <li><a href="https://material.angular.io/">Angular Material/CDK</a> - Material Design components and behavior primitives for Angular.</li>
      <li><a href="https://tailwindcss.com/">TailwindCSS</a> - A utility-first CSS framework packed with classes like flex, pt-4, text-center and rotate-90 that can be composed to build any design, directly in your markup.</li>
      <li><a href="https://momentjs.com/">MomentJS</a> - Parse, validate, manipulate and display dates and times in JavaScript.</li>
      <li><a href="https://formly.dev/">Ngx-Formly</a> - Dynamic (JSON powered) form library for Angular that bring unmatched maintainability to your application's forms.</li>
      <li><a href="https://lodash.com/">Lodash</a> - A modern JavaScript utility library delivering modularity, performance & extras.</li>
      <li><a href="https://www.npmjs.com/package/ngx-colours">Ngx-Colours</a> - A beautiful color picker for angular that let you choose from a color palette.</li>
    </ul>

    <h3>Features</h3>
    <p>Various features and components are provided out of the box to make developing a new app as painless as possible. Below are some examples of what's available</p>
    <ul>
      <li><a routerLink="/form-example">Easy form building</a> - configure forms with nothing but config.</li>
      <li><a routerLink="/dialog-example">Custom built dialog service</a> - create dialogs with less frustration.</li>
    </ul>
  </article>
</app-page-container>