@tailwind base;

@layer base {
  * {
    /* Text rendering */
    text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;

    &:focus {
      outline: none !important;
    }
  }
  
  html {
    @apply text-gray-800 scroll-smooth;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply md:w-2 md:h-2;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply md:bg-transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply md:bg-zinc-400 md:rounded;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply md:bg-zinc-500;
  }
}

@tailwind components;
@tailwind utilities;

@import './assets/fonts/inter';
@import 'app/scss/angular-material';
@import 'app/scss/ngx-colors';

@import '~@angular/material/theming';
@include mat-core();
/* ======== Angular material custom themes ======== */ 
$my-custom-primary: mat-palette($mat-light-blue);
$my-custom-accent: mat-palette($mat-pink, 100, 500, A100);
$my-custom-warn: mat-palette($mat-red);
$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);
@include angular-material-theme($my-custom-theme);

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

