@tailwind base;

@layer base {
  * {
    /* Text rendering */
    text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;

    &:focus {
      outline: none !important;
    }
  }
  
  html {
    @apply scroll-smooth;
    -webkit-font-smoothing: auto;
    font-feature-settings: 'salt';
  }

  app-root {
    @apply text-gray-800 dark:text-gray-300;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply md:w-2 md:h-2;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply md:bg-transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply md:bg-zinc-400 md:rounded;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply md:bg-zinc-500;
  }
}

@tailwind components;
@tailwind utilities;

@import './assets/fonts/inter';
@import 'app/scss/overrides/angular-material';
@import 'app/scss/overrides/ngx-colors';
@import 'app/scss/example-container';
@import 'app/scss/overrides/highlightjs';

@import '~@angular/material/theming';
@include mat-core();
/* ======== Angular material custom themes ======== */ 
$my-custom-primary: mat-palette($mat-deep-purple);
$my-custom-accent: mat-palette($mat-teal);
$my-custom-warn: mat-palette($mat-red);
$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);
@include angular-material-theme($my-custom-theme);

$custom-typography: mat-typography-config(
  $font-family: 'Inter Var'
);

@include angular-material-typography($custom-typography);

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}
